html {
  box-sizing: border-box;
  background-color: grey;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

section {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: .5rem, 1rem, 6rem, 2rem;
  color: #000;
}

h2 {
  font-size: 24rem;
  color: #000;
}

h3 {
  font-size: 16rem;
}

h4 {
  font-size: 16rem;
}

p {
  font-size: 5rem;
}

a {
  font-size: 5rem;
  color: #ccc;
  background-color: #444
}
