html {
  box-sizing: border-box;
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  margin: 1.5rem;
}

h2 {
  font-size: 24rem;
  color: #000;
}
