html {
  box-sizing: border-box;
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 1.5rem;
  color: #000;

  display: flex;
}

a {
  font-size: 5rem;
  color: #ccc;
  background-color: #444;
  padding: .5rem .9rem;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  color: #000;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

li {
  width: 50%;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

img {
  display: flex;
  flex-direction: row;
  width: 10%;
}

img + hgroup {
  margin: 1.5rem;
}
